@model YouBikeProject.Models.ViewModel.YoubikeLogListViewModel
@{
    ViewData["Title"] = "SearchYoubikeLog";
}
<style>
    .row {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>
<script>
    function Search() {
        var params = { Sno: $('#Sno').val(), Sarea: $('#Sarea').val() };
        $.post("/Youbike/YoubikeLogList", params, function (data) {
            $("#ListResultForm").html(data);
        });
    }
</script>

<h1>YoubikeLogList</h1>

<div class="row">
    <div class="col-lg-3 col-md-6">
        @Html.Label("場站名稱")
    </div>
    <div class="col-lg-3 col-md-6">
        @Html.DropDownListFor(m => m.Sno, Model.stationList, "all", new {@class = "form-control"})
    </div>
    <div class="col-lg-3 col-md-6">
        @Html.Label("場站區域")
    </div>
    <div class="col-lg-3 col-md-6">
        @Html.DropDownListFor(m=> m.Sarea, Model.regionList, "all", new {@class = "form-control"})
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button id="Search" class="btn btn-secondary" onclick="Search()">Search</button>
    </div>
</div>
<div class="row">
    <div class="col-12" id="ListResultForm">
    </div>
</div>
